apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  k8s-app: sealed-secrets

commonAnnotations:
  linkerd.io/inject: enabled

helmCharts:
  - name: sealed-secrets
    repo: https://bitnami-labs.github.io/sealed-secrets
    version: 2.1.5
    releaseName: sealed-secrets
    namespace: kube-system
