name: Dynamic Analysis

on:

  schedule:
    - cron: '0 5 * * *'  # 5 minutes past midnight every day

  workflow_dispatch:

jobs:

  run-test:
    name: Argo CD App of Apps
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v1

    - name: Run install script
      run: |
        ./install.sh

    - name: Create GitOps application in Argo CD (App of Apps)
      run: |
        kubectl apply -f gitops.yaml

    - name: Sync applications
      run: |
        argocd app sync gitops
        argocd app wait gitops --health

        argocd app sync -l app.kubernetes.io/instance=gitops --async
        argocd app wait -l app.kubernetes.io/instance=gitops --sync

    - name: List applications
      run: |
        argocd app list

    - name: Application namespace checks
      run: |
        ns=( \
          "argo" \
          "argo-events" \
          "argo-rollouts" \
          "argocd" \
          "cert-manager" \
          "gatekeeper-system" \
          "ingress-nginx" \
          "linkerd" \
          "litmus" \
          "metallb-system" \
          "monitoring" \
          "starboard-system"
        )

        for i in "${ns[@]}"
        do
          kubectl get ns "${i}"
        done

    - name: Docker network checks
      run: |
        docker network inspect -f '{{.IPAM.Config}}' kind

    - name: Check Audit logging
      run: |
        logCount1=$(docker exec kind-control-plane cat /var/log/kubernetes/kube-apiserver-audit.log | wc -l)
        sleep 1s
        logCount2=$(docker exec kind-control-plane cat /var/log/kubernetes/kube-apiserver-audit.log | wc -l)
        if [ $logCount1 -eq $logCount2 ]; then exit 1 ; fi
