name: Static Analysis

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '.github/**'

  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.github/**'

  # schedule:
  #   - cron: '43 3 * * 1'

  workflow_dispatch:

env:
  DATREE_TOKEN: ${{ secrets.DATREE_TOKEN }}

jobs:

  kustomize:
    name: Kustomize Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Kustomize
        run: curl -s https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh | bash

      - name: Kustomize Build
        run: kustomize build apps > kustomize.yaml

      - name: Upload Kustomize YAML
        uses: actions/upload-artifact@v2
        with:
          name: kustomize
          path: kustomize.yaml

  snyk:
    name: Snyk Infrastructure as Code
    needs: kustomize
    runs-on: ubuntu-latest
    steps:
      - name: Download Kustomize YAML
        uses: actions/download-artifact@v2
        with:
          name: kustomize

      - name: Run Snyk to check configuration files for security issues
        continue-on-error: true
        uses: snyk/actions/iac@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          file: kustomize.yaml

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: snyk.sarif

  kubescape:
    name: Kubescape DevOps Best
    needs: kustomize
    runs-on: ubuntu-latest
    steps:
      - name: Install Kubescape
        run: curl -s https://raw.githubusercontent.com/armosec/kubescape/master/install.sh | /bin/bash

      - name: Download Kustomize YAML
        uses: actions/download-artifact@v2
        with:
          name: kustomize

      - name: Run Kubescape
        run: kubescape scan framework devopsbest --exclude-namespaces kube-system,kube-public kustomize.yaml # --enable-host-scan --fail-threshold 0

  datree:
    name: Datree
    needs: kustomize
    runs-on: ubuntu-latest

    steps:
      - name: Install Datree
        run: curl https://get.datree.io | /bin/bash

      - name: Download Kustomize YAML
        uses: actions/download-artifact@v2
        with:
          name: kustomize

      - name: Run Datree to check for Kubernetes misconfiguration issues
        run: datree test --schema-version 1.21.0 --ignore-missing-schemas kustomize.yaml || exit 0

  kube-score:
    name: kube-score
    needs: kustomize
    runs-on: ubuntu-latest

    steps:
      - name: Setup kube-score
        uses: tobbbles/setup-kubescore@v1.0.2
        with:
          version: latest

      - name: Download Kustomize YAML
        uses: actions/download-artifact@v2
        with:
          name: kustomize

      - name: Run kube-score static code analysis of the Kubernetes object definitions
        run: kube-score score kustomize.yaml || exit 0
